<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
  </head>
  <body>
    <header>
      <div class="logo">Pay My Buddy</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#" class="active">Transfer</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Contact</a></li>
          <form th:action="@{/logout}" method="post">
            <a href="">Log off</a>
          </form>
        </ul>
      </nav>
    </header>
    <main>
      <div class="breadcrumb">
        <a href="#" class="blue-text">Home</a>
        <span class="blue-text">/</span>
        <a href="#">Transfer</a>
      </div>

      <div class="content-block">
        <div class="text-container">
          <p>Send Money</p>
          <button class="blue-button">Add Connection</button>
        </div>
        <div class="form-container">
          <div class="input-container">
            <select>
              <option>Select a Connection</option>
            </select>
          </div>
          <div class="input-container">
            <input type="number" min="0" value="0" step="1" placeholder="0€" />
          </div>
          <div class="input-container">
            <button class="green-button">Pay</button>
          </div>
        </div>
      </div>
      <div class="transactions-block">
        <h2>My Transactions</h2>
        <div class="table-container">
          <table class="transaction-table">
            <thead>
              <tr>
                <th>Connections</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Connection 1</td>
                <td>Transaction 1</td>
                <td>100€</td>
              </tr>
              <tr>
                <td>Connection 2</td>
                <td>Transaction 2</td>
                <td>75€</td>
              </tr>
              <tr>
                <td>Connection 3</td>
                <td>Transaction 3</td>
                <td>50€</td>
              </tr>
              <tr>
                <td>Connection 4</td>
                <td>Transaction 4</td>
                <td>25€</td>
              </tr>
              <tr>
                <td>Connection 5</td>
                <td>Transaction 5</td>
                <td>10€</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </body>
</html>
