<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Transfer</title>
		<link rel="stylesheet" type="text/css" href="../static/css/transfer.css" th:href="@{/css/transfer.css}" />
	</head>
	<body>
		<header>
			<div class="logo">Pay My Buddy</div>
			<nav>
				<ul>
					<li>
						Remaining balance :
						<span th:object="${sold}" th:text="${sold}"></span>
					</li>
					<li><a href="#">Home</a></li>
					<li><a href="@{/}" class="active">Transfer</a></li>
					<li><a th:href="@{profile.html}">Profile</a></li>
					<li><a href="#">Contact</a></li>
					<form th:action="@{/logout}" method="post">
						<input class="input-logoff" type="submit" value="Log off" />
					</form>
				</ul>
			</nav>
		</header>
		<main>
			<div class="breadcrumb">
				<a href="#" class="blue-text">Home</a>
				<span class="blue-text">/</span>
				<a href="#">Transfer</a>
			</div>

			<div class="content-block">
				<div th:if="${param.errorAdded}">
					<p class="text-danger">Already added or mail doesn't exist</p>
				</div>
				<div th:if="${param.errorTransaction}">
					<p class="text-danger">You don't have enough money</p>
				</div>
				<div class="text-container">
					<p>Send Money</p>
					<a href="#myModal"><button class="blue-button">Add Connection</button></a>
					<div id="myModal" class="modal">
						<div class="modal-content">
							<form method="post" th:action="@{/addFriend}" th:object="${buddy}">
								<a href="" class="closeModal">&times;</a>
								<h3>Enter an email</h3>

								<input type="text" th:value="${buddy.email}" id="email" name="email" placeholder="Email address" />
								<button id="addConnectionButtonModal" type="submit">Add Connection</button>
							</form>
						</div>
					</div>
				</div>
				<form class="form-container" th:action="@{/pay}" th:object="${friends}" method="post">
					<div class="input-container">
						<select name="email" id="email">
							<option>Select a Connection</option>
							<option th:each="friend : ${friends}" th:value="${friend.email}" name="email" th:text="${friend.firstName + ' ' + friend.lastName}"></option>
						</select>
					</div>
					<div class="input-container">
						<input type="text" th:field="${newTransaction.description}" th:value="${newTransaction.description}" name="description" id="description" placeholder="Add Description" class="input-style" required />
					</div>
					<div class="input-container">
						<input type="number" min="0" value="0" step="0.01" placeholder="0€" th:field="${newTransaction.amount}" th:value="${newTransaction.amount}" id="amount" name="amount" class="input-style" />
					</div>
					<div class="input-container">
						<button class="green-button" type="submit">Pay</button>
					</div>
				</form>
			</div>
			<div class="transactions-block">
				<h2>My Transactions</h2>
				<div class="table-container">
					<table class="transaction-table">
						<thead>
							<tr>
								<th>Connections</th>
								<th>Description</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="transaction: ${transactions}">
								<td th:text="${transaction.firstName + ' ' + transaction.lastName}"></td>
								<td th:text="${transaction.description}"></td>
								<td th:text="${transaction.amount}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</main>
	</body>
</html>
